{% extends "base.html" %}
  
{% block title %}About CIF Database {% endblock %}

{% block page_content %}
<div class="page-header">
    <h1> About The CIF Database </h1>
    <p> This Database is a collection of the CIF genes found in <i>Wolbachia</i> and other organisms and provides information in regards to their collection. </p>
    <p> The data is searchable by ________ _______________ ____________-. 



    </p>
    
    <h1> Founder & Contributors</h1>
    <img src="/static/jv.jpg", width=300, height=300, align="right" />
    <p> This Database was founded by Jesse Valliere in collaboration with Sarah Bordenstein, M.S., and the Bordenstein Lab at Vanderbilt University, under the supervision of Dr. Ash Stuart at Ramapo College of New Jersey. </p>
    
</div>
{% endblock %}
~                    
