{% extends "bootstrap/base.html" %}

{% block title %}Wolbachia CIF Database{% endblock %}

{% block navbar %}


<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

</style>
</head>
<body>

<ul>
    <div style="color:white;font-size:240%;float:left">The <i>Wolbachia</i> CIF Gene Database</div>
    <li><a href="/about">About</a></li>
    <li><a href="/search">Search</a></li>
    <li><a href="/blast">BLAST</a></li>
    <li><a href="/ref">References</a></li>
    <li><a href="/help">Help</a></li>
    <li><a href="/">Home</a></li>
</ul>

</body>

{% endblock %}

{% block content1 %}
<div class="container">
    <div class="page-header">
        <h1>The Wolbachia CIF gene Database</h1>
        <h1>Jesse Was here</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

