{% extends "base.html" %}
  
{% block title %}About - CIF Gene Database{% endblock %}

{% block page_content %}
<div class="page-header" style = "width:850px;margin:0">
    <h1> About The CIF Gene Database </h1>
    <p> This Database is a collection of the CIF genes found in <i>Wolbachia</i> and other organisms and provides information in regards to their collection. </p>
    <p> The data is searchable under the Search tab by Strain, Host, and Gene ID. 
    	The data can also be browsed under the Browse tab, and users can choose the gene or gene type as parameters. 
    	The database also provides a BLAST tool, which allows users to perform BLASTS of sequences against entries found in the database.

    </p>
    
</div>

<div class = "text">    
    <h1> Founder & Contributors</h1>
    <img src="/static/jv.jpg", width=300, height=300, align="right" />
    <p> This Database was founded by Jesse Valliere in collaboration with Sarah Bordenstein, M.S., and the Bordenstein Lab, under the supervision of Dr. Ash Stuart at Ramapo College of New Jersey. The database was used to complete the Spring 2022 Advanced Bioinformatics Final Project.</p>
    
</div>
{% endblock %}
~                    
