{% extends "base.html" %}
  
{% block title %}References - CIF Gene Database{% endblock %}

{% block page_content %}

<h1><strong>References for Creating the CIF Gene Database</strong></h1>

<h2 style = "margin:0;padding:0;"><u>Research Articles</u></h2>

<div class="text" style = "width:850px;margin:0">
		<p></p>
      	<p style = "line-height:1.0;">⬤ Prophage WO genes recapitulate and enhance Wolbachia-induced cytoplasmic incompatibility - LePage et al., 2017 - <a href = "https://www.nature.com/articles/nature21391.pdf">Link</a></p>	
      	<p style = "line-height:1.0;">⬤ Evolutionary Genetics of Cytoplasmic Incompatibility Genes cifA and cifB in Prophage WO of Wolbachia - Lindsey et al., 2018 - <a href = "https://academic.oup.com/gbe/article/10/2/434/4815755">Link</a></p>	
</div>

<h2 style = "margin:0;padding:0;"><u>Data Sources</u></h2>
<div class="text" style = "width:850px;margin:0">
		<p></p>
      	<p style = "line-height:1.0;"> ⬤ All data was assembled and provided by Sarah Bordenstein, M.S., and the Bordenstein Lab.</p>	
</div>

<img src="/static/Wolbachia.png", width=350, height=175, align="right"/>

<h2 style = "margin:0;padding:0;"><u>Software Libraries</u></h2>
<div class="text" style = "width:850px;margin:0">
		<p></p>
		<p style = "line-height:1.0;"> ⬤ Flask Library - Flask, render_template, request, session, redirect - <a href = "https://flask.palletsprojects.com/en/2.1.x/">Documentation</a></p>
      	<p style = "line-height:1.0;"> ⬤ Flask_sqlalchemy - SQLAlchemy - <a href = "https://www.sqlalchemy.org/">Documentation</a></p>
      	<p style = "line-height:1.0;"> ⬤ Flask_bootstrap - Bootstrap - <a href = "https://pythonhosted.org/Flask-Bootstrap/">Documentation</a></p>
      	<p style = "line-height:1.0;"> ⬤ Flask_wtf - FlaskForm - <a href = "https://flask-wtf.readthedocs.io/en/1.0.x/">Documentation</a></p>
      	<p style = "line-height:1.0;"> ⬤ Wtforms - StringField, RadioField, SubmitField, SelectField - <a href = "https://wtforms.readthedocs.io/en/3.0.x/">Documentation</a></p>
      	<p style = "line-height:1.0;"> ⬤ Wtforms.validators - DataRequired - <a href = "https://wtforms.readthedocs.io/en/2.3.x/validators/">Documentation</a></p>
      	<p style = "line-height:1.0;"> ⬤ Datetime - datetime, date - <a href = "https://docs.python.org/3/library/datetime.html">Documentation</a></p>
      	<p style = "line-height:1.0;"> ⬤ Pandas - <a href = "https://pandas.pydata.org/">Documentation</a></p>
      	<p style = "line-height:1.0;"> ⬤ OS - <a href = "https://docs.python.org/3/library/os.html">Documentation</a></p>
      	<p style = "line-height:1.0;"> ⬤ Bio.Blast.Applications - NcbiblastpCommandLine - <a href = "https://biopython.org/docs/1.75/api/Bio.Blast.Applications.html">Documentation</a></p>
            <p style = "line-height:1.0;"> ⬤ Flask_Heroku - Heroku - <a href = "https://devcenter.heroku.com/articles/getting-started-with-python#set-up">Documentation</a></p>
            
</div>


<h2 style = "margin:0;padding:0;"><u>Programming Tools / Languages etc.</u></h2>
<div class="text" style = "width:850px;margin:0">
		<p></p>
      	<p style = "line-height:1.0;"> ⬤ PSQL - <a href = "https://www.postgresql.org/docs/current/app-psql.html">Link</a></p>
      	<p style = "line-height:1.0;"> ⬤ Python - <a href = "https://www.python.org/">Link</a></p>
      	<p style = "line-height:1.0;"> ⬤ HTML - <a href = "https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/HTML_basics">Link</a></p>
      	<p style = "line-height:1.0;"> ⬤ Javascript - <a href = "https://www.javascript.com/">Link</a></p>	
</div>

{% endblock %}
~                
